.section-works {
    display: block;
    text-align: center;
    border: 1px solid #ccc;
}
.email-now, .call-us-now {
    width: 100%;
    margin: 0 auto;
    height: auto;
    display: block;
    border-bottom: 3px solid #ccc;
}

.email-icon, .call-us-icon {
    width: 120px;
    height: 140px;
    color: #458147;
}
.section-p {
    color: #be464e;
}