
.modal, .modalTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 779;
    
}


.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}
.container-kitchen-works {
    max-width: 700px;
    max-height: 500px;
    height: 100%;
    padding: 1rem;
    overflow: hidden;
    
}
/* UL */
.kitchen-works-section {
    list-style: none;
    white-space: nowrap;
    box-sizing: border-box;
}
/* LI */
.container-img-kitchens {    
    line-height: 0;
    display: inline;
    padding: 1rem;
    
    border-radius: 8px;
    
}


.modal img, .modalTwo img {
    max-width: 750px;
    cursor: pointer;
    aspect-ratio: 8 / 5;
}

@media only screen and (1024px > width) {
    .modal img, .modalTwo img {
        margin: auto;
        padding: 0;
        width: 120%;
        height: 50vh;
        aspect-ratio: 9 / 7;
    }
   
}


.image-control-modal {

    width: 80px;
    position: relative;
    height: 80px;
    padding: 10px;
}
.arrow-left, .arrow-right {
    position: fixed;
    width: 40px;
    height: 40px;
    top: 50%;
    border-radius: 8px;
}
.arrow-left {
    left: 0;
}
.arrow-right {
    right: 0;
}

.image-control-modal svg {
    background-color: #458147;
    padding: .7rem;
    color: #fff;
}

.container-points {
    color: #5e805f;
    z-index: 500;
    display: flex;
    position: absolute;
    bottom: 55px;
    
    text-align: center;
    justify-content: center;
    align-items: flex-end;
}
.points-container-item {
    margin: .3rem .5rem;
    height: 15px;
    width: 15px;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 50%;
}
.points-container-item.active {
    width: 17px;
    height: 17px;
    /* border-radius: 50%; */
    background: #5e805f;
}